/venv
/.idea
/__pycache__/
/crypto-tracker/__pycache__/
/crypto-tracker/api/__pycache__/
/crypto-tracker/api/models/__pycache__/
/crypto-tracker/api/models/pydantic_models/__pycache__/
/crypto-tracker/config/__pycache__/
/services/crypto_tracker/migrations/versions/__pycache__/
/services/crypto_tracker/tests/__pycache__/
/services/crypto_tracker/migrations/__pycache__/
/services/crypto_tracker/.coverage
/services/crypto_tracker/tests/htmlcov/
/services/crypto_tracker/tests/.coverage